.header
{
    background: url(/follow_the_rhythm/web/upload/images/FTR.png);
    margin: 0px;
    width: 100%;
    left: 0px;
    top: 0;
    height: 128px;
}

#titre {display:inline-block;margin-right:10px; width:200px;} 
#chYT {display:inline-block; width:200px;} 