follow.the.rhythm_symfony:
    resource: "@follow_the_rhythmSymfonyBundle/Resources/config/routing.yml"
    prefix:   /

app:
    resource: "@AppBundle/Controller/"
    type:     annotation
    
    
