{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}
    
{% block contenuCentral %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h2><b><i class="fa fa-music" aria-hidden="true"></i> Concerts</b><a href="{{path('follow_the_rhythm_soumettreTopicPromotions')}}"><button style='margin-left: 32px;' type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nouveau topic</button></a></h2></div>
            <div class="list-group">
                <div class="list-group-item">
                    {% for topicCourant in tabTopics %}
                    <div class="list-group-item"><h2><label>{{topicCourant.titre}}</label></h2></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}