{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}
    
{% block contenuCentral %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h2><b><i class="fa fa-music" aria-hidden="true"></i></i> Concert</b></h2></div>
            <div class="list-group">
                <div class="list-group-item">
                    <div align="justify"> 
                        <h4>Prochainement, la catégorie concert du forum de Follow the rhythm</h4></Br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}