{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}

{% block contenuCentral %}
<body>
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
      <!--default panel content-->
        <div class="panel-heading"><h4>Soumettre un concert</h4></div>
     
      <div class="list-group">
        <div class="list-group-item">
           
          <!--AFFICHAGE DU FORMULAIRE-->
          <form method="post" id=soumettreConcertForm {{form_enctype(formulaireConcert)}}>
              {{ form_widget(formulaireConcert)}}
            <input type=submit class="btn btn-primary" onsubmit="return false"> <a href="{{path('follow_the_rhythm_accueil',{'page': 1, 'sens': 1})}}"><input type=button class="btn btn-primary" value="Annuler" onclick="return confirm('Êtes vous sûr? Les données saisies seront effacées');"></a>
            <p></p><a href="{{path('follow_the_rhythm_artiste')}}"><button class="btn btn-primary">Ajouter un nouvel artiste</button></a></p>
           
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock %}


