{#Boutons d'actualités et de forum #}
        <div class="container">
          <div class="row">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-secondary active btn-lg">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Actualités
              </label>
                <label class="btn btn-secondary btn-lg">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Forum
                </label>
            </div>
          </div>
        </div>
{#fin de la mise en place des boutons#}
 {#Tri festival ou artiste#}
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="btn-group" data-toggle="buttons">
               <label class="btn btn-secondary active btn-sm">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Concert/Festival
               </label>
               <label class="btn btn-secondary btn-sm">
                <input type="radio" name="options" id="option2" autocomplete="off"> Artistes
               </label>
              </div>
            </div>
        </div>
    </div>